
<%= link_to_remote "Refresh", :url => { :action => :refresh }, :update => "player_state", :html => { :id => "refresh" } %>
<div id="player_state">
	<%= render :partial => 'player_state_table' %>
</div>

<br/>

<% form_remote_tag :url => url_for(:action => :perform), :update => "player_state"  do -%>
	<%= render :partial => 'action_block' %>
<% end -%>

<%= link_to  "Reset", :action => :logout %>