.green { background-color: #dfd;}
.yellow { background-color: #fd9;}
.red { background-color: #f88;}

.later { background-color: #ddd; opacity: .5;}
.clockgap { height: 25px;}

body { margin:0; padding:0 ;}
table { background-color: #ffe; margin-left:auto; margin-right: auto;}
.timestamp { font-size: 10px;}

/* Player Layout setup, optimized for iPhone */
#player_main_outer { width: 320px; font-size: 18px; margin-left: auto; margin-right: auto; text-align: center;}
#player_main { text-align: center;}

#player_state { margin-bottom: 10px;}
#player_state_table { width: 93%; font-size: 18px; border: 1px solid black;}
#player_state_table tr th { text-align: right; padding-right: 20px; width: 150px;}

#action_block { width: 93%; font-size: 18px; border: 1px solid black;}
#action_block tr th { text-align: right; padding-right: 20px; width: 150px;}
#action_block tr td { }

#action_menu_div { }
#action_menu_table { width: 250px; padding: 10px;}
/*#action_menu_table tr { padding: 5px;} */
#action_menu_table tr th.header { text-align: center; font-weight: bold;}
#action_menu_table tr th, #action_menu_table tr td { padding: 4px; margin-top: 2px; margin-bottom: 2px; text-align: left; font-weight: normal;}
#action_menu_table a { color: #444;}
#redbox_close { text-align: center !important; margin-bottom: 10px; }

/* DM Layout setup, optimized for iPad */
#dm_main_outer { width: 320px; font-size: 18px; margin-left: auto; margin-right: auto; text-align: center;}
#dm_table_div { margin-bottom: 10px;}
#dm_table { width: 93%; font-size: 18px; border: 1px solid black;}
#dm_table tr th, #dm_table tr td { text-align: left ;}

#add_monster_div h3 { margin: 10px 10px 0 10px; padding: 0; text-align: left;}
#add_monster_div form { margin: 0 10px 10px 10px; padding: 0; text-align:left ;}

#add_monster_div { width: 93%; margin-left: auto; margin-right: auto; border: 1px solid black; background-color: #ffe; }