.green { background-color: #dfd;}
.yellow { background-color: #fd9;}
.red { background-color: #f88;}

.later { background-color: #ddd; opacity: .5;}
.clockgap { height: 25px;}

table { background-color: #ffe;}
.timestamp { font-size: 10px;}

/* Player Layout setup, optimized for iPhone */
#player_main_outer { width: 320px; font-size: 18px;}

#player_state { margin-bottom: 10px;}
#player_state_table { width: 300px; font-size: 18px; border: 1px solid black;}
#player_state_table tr th { text-align: right; padding-right: 20px; width: 150px;}

#action_block { width: 300px; font-size: 18px; border: 1px solid black;}
#action_block tr th { text-align: right; padding-right: 20px; width: 150px;}
#action_block tr td { }

/* DM Layout setup, optimized for iPad */
