<html>
	<head>
		<title>Arcanis Clock Tool</title>
		<%= javascript_include_tag :all %>
		<%= stylesheet_link_tag :all %>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
	</head>
	<body>
		<div id="player_main_outer">
			<div id="player_main">
		<%= yield %>
			</div>
		</div>
	</body>
</html>